html {
	background: url(./construction.gif) no-repeat center center fixed;
	background-size: cover;
}
.centered {
	font-family: monospace;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.firstLine {
	font-style: oblique;
	color: white;
	background-color: grey;
	font-size: 40px;
	opacity: 0.8;
	padding-left: 10px;
}

.secondLine {
	color: white;
	background-color: grey;
	font-size: 25px;
	opacity: 0.8;
	padding-left: 10px;
}

.thirdLine {
	color: orange;
	background-color: grey;
	font-size: 25px;
	padding-left: 10px;
}
